*{
    margin:0px;
    padding: 0px;
    list-style-type: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: #F7F7F7;
}

body{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100%;
}

.flexgroups{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo_nav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;

}

.header_buttons_list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header_button_nav{
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 60px;

}

.header_button_box{
    width: 100px;
    text-align: center;
    text-decoration: none;
  

}

.sign_in_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 51px;
    border: 1px solid #CD6326;
    border-radius: 10px;
    transition: 0.5s;
}

.sign_in_button:hover{
    background-color: #CD6326;
}

.header_text{
    transition: 0.1s;
}

.header_text:hover{
    color:#CD6326
}

.survival{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
}

.survival_group{
    display: flex;
    justify-content: center;
    height: 350px;
    width: 47%;
}

.survival_list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.survival_title{
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 2px;
    color: #CD6326;
}

.survival_text{
    line-height: 72px;
    letter-spacing: 2px;
    font-size: 18px;
    line-height: 27px;

}

.survival_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 60px;
    font-size: 23px;
    line-height: 27px;
    text-align: center;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 5px;
    transition: 0.4s;
}

.survival_button:hover{
    background-color:transparent;
}

.articles{
    width: 100%;
    height: 1368px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #CCCCCC;
}

.articles_content_text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.articles_title{
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #333333;
}

.articles_text{
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #666666;
}

.aricles_content_animals{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.articles_animal{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 360px;
    justify-content: flex-end;
    align-items: center;
    transition: 0.5s;
}

.animal_title{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #F7F7F7;
    height: 36px;
    
}

.animal_text{
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: #F7F7F7;
    height: 75px;
}

.articles_animal:hover{
    transform: scale(1.05,1.05);
}

.articles_get_notification{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification_title{
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    color: #333333;
}

.notification_input_block{
    display: flex;
    
}

.notification_input_email{

    width: 540px;
    height: 60px;
    padding-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #666666;
    border: none;
    border: 1px solid #CD6326;
    border-radius: 5px 0px 0px 5px;

}

.notification_input_submit{
    width: 120px;
    height: 60px;
    background: #CD6326;
    border: 1px solid #CD6326;
    border-radius: 0px 5px 5px 0px;
    font-size: 23px;
    line-height: 27px;
    align-items: center;
    text-align: center;
}

.footer{
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: space-around;
}

.footer_logo_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer_logo_nav{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 60px;
    text-transform: uppercase;

}

.footer_text{
    font-size: 23px;
    line-height: 60px;
    transition: 0.1s;
}


.footer_text:hover{
    color:#CD6326
}

.footer_social_buttons_group{
    display: flex;
    width: 15%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social_button{
    width: 40px;
    height: 40px;
}
